.button{
    -fx-font-size: 20px;
    -fx-pref-width:230px;
    -fx-pref-height:30px;
    -fx-font-family: "Georgia";
    -fx-border-radius:4px;
    -fx-border-color:black;
    -fx-border-width: 1px;
}

#header{
	-fx-pref-width:200px;
	-fx-pref-height:17px;
	-fx-font-size:25px;
	-fx-translate-x:10px;
	-fx-translate-y:-80px;
	-fx-font-family:"Georgia";
	-fx-color:#9400D3;
}
#choiceBox{
	-fx-pref-height:15px;
	-fx-pref-width:200px;
	-fx-font-size:17px;
	-fx-translate-x:105px;
	-fx-translate-y:30px;
	-fx-font-family: "Georgia";
	
}

#name{
	 -fx-pref-width:130px;
	 -fx-pref-height:10px;
	-fx-font-size:21px;
	-fx-translate-x:-430px;
	-fx-translate-y:10px;
	-fx-font-family: "Georgia";
}
#nameField{
	-fx-translate-x:-425px;
	-fx-translate-y:10px;
	-fx-pref-width:200px;
	 -fx-pref-height:20px;
}
#select{
	-fx-pref-width:150px;
	-fx-pref-height:10px;
	-fx-font-size:21px;
	-fx-translate-x:-260px;
	-fx-translate-y:30px;
	-fx-font-family: "Georgia";
}
addButton{
	-fx-translate-x:300px;
	-fx-translate-y:-100px;
	-fx-color:#00FFFF;
}
#backButton{
	-fx-pref-width:300px;
	-fx-color:#9400D3;
}
#backButton{
	-fx-pref-width:170px;
	-fx-color:#9400D3;
}

#createList{
	 
	 -fx-pref-height:10px;
	-fx-font-size:20px;
	-fx-font-family: "Georgia";
	-fx-pref-width:180px;
	-fx-color:#9400D3;
}

#textArea{
	 -fx-pref-height:250px;
	-fx-font-size:20px;
	-fx-font-family: "Georgia";
	-fx-pref-width:320px;
	-fx-color:#9400D3;
	
	
}