#barChart{
	-fx-translate-x:-110px;
	-fx-translate-y:-60px;
	 -fx-pref-width:600px;
}
#backButton{
	 -fx-font-size: 20px;
    -fx-pref-width:100px;
    -fx-pref-height:25px;
    -fx-font-family: "Georgia";
    -fx-border-radius:4px;
    -fx-border-color:black;
    -fx-border-width: 1px;
    -fx-translate-x:-630px;
	-fx-translate-y:200px;
	-fx-color:#008B8B;
}